/* #region Global */

@font-face {
  font-family: "Overlock-Black";
  src: url("./fonts/Overlock-Black.woff2") format("woff2"),
         url("./fonts/Overlock-Black.woff") format("woff");
 }
 @font-face {
  font-family: "Overlock-BlackItalic";
  src: url("./fonts/Overlock-BlackItalic.woff2") format("woff2"),
         url("./fonts/Overlock-BlackItalic.woff") format("woff");
 }
 @font-face {
  font-family: "Overlock-Bold";
  src: url("./fonts/Overlock-Bold.woff2") format("woff2"),
         url("./fonts/Overlock-Bold.woff") format("woff");
 }
 @font-face {
  font-family: "Overlock-BoldItalic";
  src: url("./fonts/Overlock-BoldItalic.woff2") format("woff2"),
         url("./fonts/Overlock-BoldItalic.woff") format("woff");
 }
 @font-face {
  font-family: "Overlock-Italic";
  src: url("./fonts/Overlock-Italic.woff2") format("woff2"),
         url("./fonts/Overlock-Italic.woff") format("woff");
 }
 @font-face {
  font-family: "Overlock-Regular";
  src: url("./fonts/Overlock-Regular.woff2") format("woff2"),
         url("./fonts/Overlock-Regular.woff") format("woff");
 }